:root {
  --color-primary: #3498db;
  --color-secondary: #2ecc71;
  --color-tertiary: #e74c3c;
  --color-background: #ecf0f1;
  --color-text: #2c3e50;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0px 10px 20px;
  padding: 0;
}

.u-textCenter {
  text-align: center;
}

.navTitle {
  font-size: 2rem;
  color: var(--color-background);
  margin: 20px 0;
}

.navContainer {
  background-color: var(--color-primary);
  padding: 8px;
}
